* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
/*----------------------------------------------------------*/
.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(213,32,71,0.8),  rgba(238,61,27,0.8)),  url(../img/header-banner.png);
    width: 1440px;
    height: 782px;
}
.content-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
}
.header-container {
    position: relative;
}
.header-container-logo {
    position: absolute;
    width: 172px;
    height: 29px;
    top: 39px;
    left: 0px;
}
.header-sub-container-logo {
    position: relative;
    width: 172px;
    height: 29px;
}
.header-logo-icon {
    position: absolute;
    display: block;/*когада тег <a> становится position: absolute, он остается строчным? он ведь просто изымается из потока?*/
    left: 5%;
    top: 20%;/*в Фигме были еще указаны свойства right и button, их тоже стоило указать, или достаточно и этих двух? logo-icon он ведь польностью изъят из потока, он сам по себе */
}
/*.header-logo-icon 
    сделать тень для иконки, целая история, не смог разобраться*/
.header-logo-name {
    position: absolute;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    left: 25%;/*в Фигме эти параметры были указаты в пикселях, думаю правильнее будет в процентах. Выставил на глаз*/
    top: 15%;
}
.header-logo-name:hover {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.header-nav {
    margin-left: auto;
    margin-right: auto;
    width: 438px;/*как выровнять блочный элемент посередине, не ограничивая ширину? если количество символов в блоке станет больше, все поломается*/
    padding-top: 45px;
}
.header-nav-item {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}
.header-nav-item:last-child {
    padding-right: 0;
}
.header-nav-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 16px;
}
.header-nav-link:hover {
    /*font-weight: 700*//*это свойство есть в Фигме. Но при наведении на ссылку, все ссылки справа дергаются. Как это побороть не додумался*/
    text-shadow: 0 2px 10px rgba(0, 0, 0, 1);/*тень нарисовал свою, так красивше*/
}
.header-login {
    position: absolute;
    right: 0;
    top: 33px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 12px 29px 12px 28px;
    border: 1px solid #fff;
    border-radius: 6px;
}
.header-login:hover {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 1);/*тень нарисовал свою, так красивше*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);/*тень нарисовал свою, так красивше*/
}
.header-article {
    margin-top: 196px;
}
.header-article-title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    margin-bottom: 39px;
}
.header-article-content {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
.header-article-button {
    display: block;
    padding: 17px 53px 17px 52px;
    margin-top: 55px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    color: rgb(237, 76, 92);
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    background-color: #fff;
}
.header-article-button:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}
/*--------------------------------------------------------------------------------------*/
.features-style-box {
    background-color: #FAFAFA;;
}
.features {
    padding: 63px 0 94px 0;
}
.features-tile {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 64px;
}
.features-list {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 250px;
    margin: 0 30px 135px 0;/*135px - отступ для карточек "features-list" следующего ряда (4я, 5я, 6я карточка и тд).  */
    position: relative;
    border-radius: 10px;/*у картинки края скруглённые, но думаю бордер радиус лишним всеровно не будет.*/
    background-repeat: no-repeat;
    background-position: center;
    background-position: 100% 100%;/*картинка будет всегда растягиваться (или сжиматься) к размеру - 350*250, не зависимо от того какой у нее реальный исходный размер. В этом случаи размер загружаемых картинок должен быть кратным 350*250, чтобы сохранялись пропорции.*/
}
.features-list.first-image {
    background-image: url(../img/features1.jpg);
}
.features-list.second-image {
    background-image: url(../img/features2.jpg);
}
.features-list.third-image {
    background-image: url(../img/features3.jpg);
}
.features-list:nth-child(3n) {/*свойства применятся к каждому третему элеенту*/
    margin-right: 0;
}
.features-card {
    position: absolute;
    left: 29px;
    top: 157px; /*Учитывая то, что размер родителя этого элемента ограничен 350*250, позишн можно указать в пикселях. */
    width: 293px;
    /*height: ***;*//*Высоту не задаем. Содержимое может меняться.*/ /*Но, эта карточка изьята из потока. В случаи если содержимого станет сильно больше, карточка начнет вылазить на елементы находящиеся ниже. Как это поправить, не додумался*/
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 33px 20px 25px 20px;
    }
.features-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-bottom: 16px;
}
.features-card-desk {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #101010;
    margin-bottom: 26px;
}
.features-card-link {
    display: block;
    width: 100%;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ED4C5C;
}
.features-card-link:hover {
    text-shadow: 0 2px 10px rgba(0, 0, 1, 0.2);
    color: #e43647;
}
/*-------------------------------------------------------------------------------------------*/
.technology {
    padding: 63px 0 104px 0;
}
.technology-tile {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 53px;
}
.technology-list {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    width: 255px;
    height: 226px;
}
.technology-list:last-child {
    margin-right: 0;
}
.technology-card {
    padding: 0 30px 19px 34px;
}
.technology-card-icon {
    position: relative;
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    margin-bottom: 19px;
    width: 117px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.technology-card-icon-first {
    position: absolute;
    left: 22px;/*у родителя размеры определены. Размеры всех подключаемых иконок разные. Выровнять все иконки автоматом не получается. Выравниваю каждую иконку индивидуально*/
    top: 57px;
}
.technology-card-icon-second {
    position: absolute;
    left: 23px;/*у родителя размеры определены. Размеры всех подключаемых иконок разные. Выровнять все иконки автоматом не получается. Выравниваю каждую иконку индивидуально*/
    top: 64px;
}
.technology-card-icon-third {
    position: absolute;
    left: 24px;/*у родителя размеры определены. Размеры всех подключаемых иконок разные. Выровнять все иконки автоматом не получается. Выравниваю каждую иконку индивидуально*/
    top: 61px;
}
.technology-card-icon-fourth {
    position: absolute;
    left: 37px;/*у родителя размеры определены. Размеры всех подключаемых иконок разные. Выровнять все иконки автоматом не получается. Выравниваю каждую иконку индивидуально*/
    top: 69px;
}
.technology-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-bottom: 10px;
}
.technology-card-desk {
    line-height: 18px;
    text-align: center;
    font-size: 12px;
}
/*----------------------------------------------------------------------------------------------------------*/
.footer-style-box {
    background-color: #fafafa;
    padding: 85px 0 83px 0;
}
.footer-card {
    width: 254px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.footer-card:nth-child(4n) {
    margin-right: 0;
}
.footer-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: left; /*нужно ли здесь это свойство? или оно работает по умолчанию? */
    color: #101010;
    margin-bottom: 28px;
}
.footer-card-desk {
    padding-right: 50px;
    line-height: 18px;
    color: #101010;
}
.footer-card-link {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
}
.footer-card-link:hover {
    color: #e43647;
}
.footer-card-mail {
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
    margin-bottom: 7px;
}
.footer-card-mail:hover {
    color: #e43647;
}
.footer-card-tel {
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
    margin-bottom: 17px;
}
.footer-card-tel:hover {
    color: #e43647;
}
.footer-cards-social-link {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.footer-card-social-icon {
    fill: #101010;
}
.footer-card-social-icon:hover {
    fill: #e43647;
}
.footer-card-support {
    background-image: url(../img/we_support.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 216px;
    height: 31px;
}
.footer-copyright {
    margin-top: 109px;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
}